.page {
  background-color: #fff;
}

.example {
  margin-bottom: 15px;
  text-align: center;
}

.drawer-item {
  height: 80px;
  line-height: 80px;
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
  position: relative;

  &--title {
    color: #666;
    font-size: 30px;
  }

  &--sub {
    font-size: 26px;
    margin-left: 50px;
    color: #999;
  }

  &--rest {
    flex: 1;
  }
}
