.avatar-example-item {
  display: flex;
  flex-direction: row;
  &__sub-item {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
