.scroll-view {
}
.example-body__scroll-view {
  &--H {
    white-space: nowrap;
  }
  &--V {
    height: 300px;
  }
}

.example-body__scroll-view-item {
  height: 300px;
}

.example-body__scroll-view-item-H {
  //display: inline-block;
  width: 500px;
}
