.components-page__body {
  padding: 0;
}

.radio-example-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.example-body__radios {
  position: relative;
  padding: 0px 15px;
  background-color: #FFFFFF;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
  }

  &::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
  }

  &-item {
    position: relative;
    display: flex;
    padding: 20px 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    &-0 {
      border-top-width: 0;
    }
  }
}

.example-body__select-box {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
