@import '../../styles/mixins.scss';

.index-hd {
  padding: 80px;
  text-align: center;
  align-items: center;
}

.index-bd {
  padding: 0 30px 40px;
}

.index-ft {
  padding-bottom: 20px;
  text-align: center;
}

.index-logo {
  width: 86px;
  height: 86px;
}

.index-desc {
  margin-top: 20px;
  font-size: 28px;
}

.index-desc_text {
  color: #888888;
}

.navigator-box {
  opacity: 0;
  position: relative;
  background-color: #ffffff;
  line-height: 1.41176471 * 28px;
  font-size: 28px;
  @include eject(transform, translateY(-50%));
  @include eject(transition, 0.3s);
}

.navigator-box-show {
  opacity: 1;
  //transform: translateY(0);
}

.navigator {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d8d8d8;
}
.navigator-0 {
  border-top-width: 0;
}

.navigator-text {
  flex: 1;
}

.navigator-arrow {
  width: 32px;
  height: 32px;
}

.kind-list {
  font-size: 32px;
}

.kind-list-item {
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.kind-list-item:first-child {
  margin-top: 0;
}

.kind-list-text {
  flex: 1;
}

.kind-list-img {
  width: 60px;
  height: 60px;
}

.kind-list-item-hd {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include eject(transition, opacity 0.3s);
}

.kind-list-item-hd-show {
  opacity: 0.2;
}

.kind-list-item-bd {
  height: 0;
  overflow: hidden;
}

.kind-list-item-bd-show {
  height: auto;
}
