.control-cnt {
  margin-top: 40px;
}

.slide-image {
  width: 100%;
  height: 360px;
}

.slider-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &-header {
      margin-bottom: 16px;
      &__text {
        color: #999;
        font-size: 28px;
        text-align: center;
      }
    }
  }
}
