.swipe-action-page {
  .panel__controller {
    text-align: center;
  }
}

.example-item--border {
  /* prettier-ignore */
  border: 1px solid #e2ecf4;
  border-left: none;
  border-right: none;
}

.demo-swipe-action-normal {
  padding: 0 24px;
  line-height: 88px;
}
