@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-fab {
  /*postcss-pxtransform rn eject enable*/
  position: fixed;
  /*postcss-pxtransform rn eject disable*/
  right: 50px;
  bottom: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: $at-fab-size;
  height: $at-fab-size;
  color: $color-white;
  font-size: $font-size-base;
  line-height: $line-height-zh * $font-size-base;
  text-align: center;
  border-radius: $at-fab-size / 2;
  background: $at-fab-bg-color;
  //box-shadow: $at-fab-box-shadow;
  box-sizing: border-box;
  &__RN {
    position: absolute;
    //right: 0;
    //bottom: 0;
  }

  &:active {
    background: $at-fab-bg-color-active;
    //box-shadow: $at-fab-box-shadow-active;
  }

  /* elements */
  &__icon,
  .at-icon {
    width: $at-fab-icon-size;
    height: $at-fab-icon-size;
    font-size: $at-fab-icon-size;
  }

  /* modifiers */
  &--small {
    width: $at-fab-size-sm;
    height: $at-fab-size-sm;
  }
}
