@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-radio {
  position: relative;
  background-color: $color-bg;
  @include hairline-top-relative();
  @include hairline-bottom-relative();
  display: flex;
  flex-direction: column;

  &-RN {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $color-border-light;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-border-light;
  }

  /* elements */
  &__option-wrap {
    display: flex;
    flex-direction: column;
    padding: $spacing-v-lg $spacing-h-xl $spacing-v-lg 0;
    @include hairline-top();
    &-0 {
      border-top-width: 0;
    }

    &-RN {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: $color-border-light;
      &-0 {
        border-top-width: 0;
      }
    }

    &--disabled {
      opacity: $opacity-disabled;
    }
  }

  &__option-container {
    display: flex;
    flex-direction: row;
    &--disabled {
      //opacity: $opacity-disabled;
    }
  }

  &__title {
    flex: 6;
    color: $at-radio-title-color;
    font-size: $at-radio-title-size;
    text-align: left;
    line-height: $line-height-zh * $at-radio-title-size;
    word-break: break-all;
  }

  &__desc {
    display: flex;
    width: 86%;
    color: $at-radio-desc-color;
    font-size: $at-radio-desc-size;
    text-align: left;
    line-height: $line-height-zh * $at-radio-desc-size;
    letter-spacing: 0;
    word-break: break-all;
    &--disabled {
      //opacity: $opacity-disabled;
    }
  }

  &__option {
    padding-left: $spacing-h-xl;
    @include active;

    &--disabled {
      &:active {
        background-color: inherit;
      }
    }
  }
}
