@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-steps {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;

  /* elements */
  &__circular {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: $at-steps-circle-size;
    height: $at-steps-circle-size;
    text-align: center;
    line-height: $at-steps-circle-size;
    border-radius: $at-steps-circle-size / 2;
    transition: all 0.3s;
    &--active {
      background-color: $at-steps-bg-color-active;
      &--text {
        color: $at-steps-color;
      }
    }
    &--inactive {
      background-color: $at-steps-bg-color;
      &--text {
        color: $at-steps-color-active;
      }
    }
  }

  &__item {
    position: relative;
    flex: 1;
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__circular-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
  }

  &__single-icon {
    background-color: #fff;
  }

  &__circle-icon {
    font-size: $at-steps-icon-size;
  }

  &__left-line {
    position: absolute;
    width: 30%;
    top: 50%;
    right: 70%;
    height: 1Px;
    background-color: $at-steps-line-color;
  }

  &__right-line {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 70%;
    height: 1Px;
    background-color: $at-steps-line-color;
  }

  &__num {
    font-size: $font-size-sm;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $spacing-v-sm 0;
    /*postcss-pxtransform rn eject enable*/
    @include line(1);
    /*postcss-pxtransform rn eject disable*/
    &__text {
      color: $at-steps-title-color;
      font-size: $at-steps-title-size;
      text-align: center;
    }
  }

  &__desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*postcss-pxtransform rn eject enable*/
    @include line(2);
    display: flex !important;
    /*postcss-pxtransform rn eject disable*/
    &__text {
      color: $at-steps-desc-color;
      font-size: $at-steps-desc-size;
      text-align: center;
    }
  }
}
